.card-news h5 {
  color: var(--primary-colour-text);
  font-size: 20px;
}

.card-news {
  background-color: var(--background-white);
}

.card-news .btn {
  background: var(--primary-colour);
  position: relative;
  width: 100%;
}

.card-news .btn:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
  background: var(--primary-colour-btn);
  border: var(--primary-colour-border-btn);
}

.page {
  background: var(--primary-colour);
}

.page-link {
  background: var(--background-white);
}
