$light: #efefef;
$background-colour: #767676;
$primary-colour: #e92569;
$primary-colour-icon: #0a0a0a;
$background-white: #ffffff;
$primary-colour-text: #0a0a0a;
$primary-colour-btn: #767676;
$primary-colour-border-btn: #707070;

$navbar-light-color: #0a0a0a;
$navbar-light-brand-color: $primary-colour;
