.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
  color: $primary-colour !important;
}

.search-form {
  button {
    background: $primary-colour !important;
    color: $background-white;
  }
}
