.card-news h5 {
  color: $primary-colour-text;
  font-size: 20px;
}

.card-news {
  background-color: $background-white;
}

.card-news .btn {
  background: $primary-colour;
  position: relative;
  width: 100%;
}

.card-news .btn:before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 100%;
  background: $primary-colour-btn;
  border: $primary-colour-border-btn;
}

.page {
  background: $primary-colour;
}

.page-link {
  background: $background-white;
}
